body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

body{
    background-color: rgb(220, 220, 220);
    margin-bottom: 100px;
}

.menu a {
    color: white;
}

.flex a {
    color: black; 
}

h1{
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
}

.logo{
    width: 150px;
}

.header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
}

h1{
    text-align: center;
    margin-top: 30px;
}

.menu {
    display:grid;
    grid-template-columns:repeat(2, 5fr);
}

.menu a {
    text-decoration: none;
    color: white;
}
.menu li {
    margin-left: 18px;
}

.menu li a {
    font-size: 16px;
    padding: 8px;
}

.legenda{
    text-align: center;
}

/* CSS FLEXBOX 1 */

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1390px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 400px;
    margin: 10px;
}

.flex a {
    text-decoration: none;
    color: black; 
}

/* CSS GRID 2*/

.grid2 {
    display:grid; 
    grid-gap: 20px;
    max-width: 1370px;
    padding: 10px;
    margin: 0 auto;
    grid-template-columns: 1fr;   
}

.grid2 a{
    text-decoration:none;
}

.destaque h2{
    font-size:22px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sidebar > div {
    margin-bottom: 10px;
}

@media (min-width:480px){
   body, ul, li, p {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 1.2rem;
        font-family: Arial;
    }

    .menu a:hover{
        text-decoration:underline;
    }

    .grid2 a:hover{
        text-decoration:underline;
    }

    .flex a:hover{
        text-decoration:underline;
    }

    .header {
        flex-wrap: wrap;
    }

    .menu {
        display: flex;
    }

    .menu li a {
        display: flex;
        padding: 8px;
    }

    .grid2 {
        grid-template-columns: 964px 389px;
    }

    @media (max-width: 768px) {
        .grid2 {
            grid-template-columns: 1fr;
        }
        .menu {
            display: grid;
            grid-template-columns:repeat(5, 2fr);
        }
    }

    @media (max-width: 1024px) {
        .grid2 {
            grid-template-columns: 1fr;
            padding: 10px;
        }
        .menu {
            display: grid;
            grid-template-columns:repeat(5, 2fr);
        }
    }

    
    @media (min-width: 1025px) and (max-width: 1200px) {
        .grid2 {
            grid-template-columns: 3.5fr 1.40fr;
        }
        .menu {
            display: grid;
            grid-template-columns:repeat(3, 3fr);
        }
        .flex > div {
            flex: 1 1 450px;
            margin: 10px;
        }
    }

    @media (min-width: 1201px) {
        .grid2 {
            grid-template-columns: 3fr 1.30fr;

        }
        .flex > div {
            flex: 1 1 350px;
            margin: 10px;
        }
    }
}